.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.converContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background:linear-gradient(
    185deg,
     rgb(230, 228, 223) 0%,
     rgba(238, 255, 254, 0.925) 98%
    );

  color: black;
  width: 50rem;
  height: 30rem;
  border-radius: 20px;
}

.valor input{
  border-radius: 7px;
  border: solid .5px #0037a562;
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  color: #001746cc;
}

.valor .conversor select{
  border-radius: 7px;
  border: solid .5px #0037a562;
  height: 1.5rem;
  font-size: 1rem;
  color: #001641cc;
}

.form-buttom{
  border-radius: 7px;
  border: solid .5px #0037a562;
  height: 1.5rem;
  font-size: 1rem;
  color: #040a16;
  font-weight: bold;
}

.resposta{
  color: #040a16;
  margin-top: 5rem;
}
